@model Travel.Models.Tour

@{
    ViewData["Title"] = "Chỉnh sửa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" asp-controller="Home" asp-area="admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ quản trị</a>
            <a asp-action="Index" asp-controller="AdminTours" asp-area="admin" class="breadcrumb-item"><i class="anticon anticon-dollar"></i>Tour</a>
            <span class="breadcrumb-item active"><i class="anticon anticon-edit"></i> @ViewData["Title"]</span>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TourId" />
            <div class="form-group">
                <label asp-for="PlaceId" class="control-label">Địa điểm</label>
                <select asp-for="PlaceId" class="form-control" asp-items="@ViewBag.PlaceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Thời gian bắt đầu</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">Thời gian kết thúc</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label">Chi phí</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-row">
                <div class="btn-group">
                    <button class="btn btn-success btn-tone m-r-5">
                        <i class="anticon anticon-save"></i>
                        <span>Lưu</span>
                    </button>

                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminTours" asp-action="Index">
                        <i class="anticon anticon-backward"></i> Trở lại
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
