<footer class="footer">
    <div class="footer-content">
        <p class="m-b-0">Phạm Lưu Thắng Đạt_B1906451</p>
        <span>
            <a href="" class="text-gray m-r-15">Liên hệ</a>
            <a href="" class="text-gray">Datpham24041@gmail.com</a>
        </span>
    </div>
</footer>