@{
    ViewData["Title"] = "Lỗi trang chủ";
}
<main>
    <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">

            <hr />
            <hr />

            <h1 class="card-title text-center align-bottom">404</h1>
            <p class="text-center align-bottom">Bạn không được cấp phép truy cập vào trang này</p>

            <a href="/" class="btn btn-primary py-md-3 px-md-5 mt-2">Quay về trang chủ</a>
            <img src="~/Adminassets/images/not-found.svg" class="img-fluid py-5" alt="Page Not Found">

        </section>

    </div>
</main><!-- End #main -->