@model Travel.Areas.Admin.Models.LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLoginLayout.cshtml";
}


<main>
    <div class="container" style="background-image: url('../../../../wwwroot/Adminassets/images/login-3.png')">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="card mb-3">

                            <div class="card-body">

                                @if (ViewBag.Error == null)
                                {
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Đăng nhập</h5>
                                        <p class="text-center small">Nhập "tài khoản" và "mật khẩu" để truy cập</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Đăng nhập thất bại</h5>
                                        <p class="text-danger text-center">@ViewBag.Error</p>
                                    </div>
                                }
                                <form class="row g-3 needs-validation" novalidate asp-action="Login" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="col-12">

                                        <i class="bi bi-file-person-fill"></i>
                                        <label for="yourUsername" class="form-label text-primary">Username</label>

                                        <div class="input-group has-validation">
                                            <input type="text" name="username" class="form-control text-success" id="yourUsername" asp-for="UserName" placeholder="Tài khoản" required>
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                            <div class="invalid-feedback">Vui lòng nhập tài khoản</div>
                                        </div>
                                    </div>

                                    <div class="col-12">

                                        <i class="bi bi-keyboard-fill"></i>
                                        <label for="yourPassword" class="form-label text-primary">Password</label>

                                        <div class="input-group has-validation">
                                            <input type="password" name="password" class="form-control text-success" id="yourPassword" asp-for="Password" placeholder="Mật khẩu" required>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                            <div class="invalid-feedback">Vui lòng nhập mật khẩu</div>
                                        </div>
                                    </div>

                                    <div class="btn-group col-12">
                                        <button class="btn btn-primary w-50" type="submit">
                                            <i class="bi bi-box-arrow-in-right"></i> Đăng nhập
                                        </button>
                                        <a class="btn btn-info w-50" href="/">
                                            <i class="bi bi-building"></i> Quay về
                                        </a>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section>

    </div>
</main><!-- End #main -->
