    <!-- Topbar Start -->
<div class="container-fluid bg-light pt-3 d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <p>datb1906451@student.ctu.edu.vn</p>
                    <p class="text-body px-3">|</p>
                    <p>070692305</p>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-primary px-3" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-primary px-3" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-primary px-3" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-primary px-3" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-primary pl-3" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a asp-action="Index" asp-controller="Home" asp-area="" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">DKD-TRAVEL</span>ER</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a asp-action="Index" asp-controller="Home" asp-area="" class="nav-item nav-link">Trang chủ</a>
                    <a asp-action="About" asp-controller="Home" asp-area="" class="nav-item nav-link">Thông tin</a>
                    <a asp-action="Tour" asp-controller="Home" asp-area="" class="nav-item nav-link">Gói Tours</a>
                    <a href="contact.html" class="nav-item nav-link">Liên hệ</a>
                    <div class="nav-item dropdown">
                        <a  class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Tài khoản</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a class="dropdown-item">Đăng nhập</a>
                            <a asp-action="Create" asp-controller="Accounts" asp-area="" class="dropdown-item">Đăng kí</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->